{% extends "base.html" %}
{% block main %}
<h1>Contact Form</h1>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/app.css') }}">
<p> Fill in this form to contact the site owners</p>
<br>
<form action= "{{ url_for('contact') }}", method= "post">

    <div class="form-group">
        {{form.name.label}}</br>
        <p>Please enter your full name </p>
        {{form.name}}  
    </div>
    <br>
   <div class="form-group">
       {{form.email.label}}</br>
       <p>Please enter your email address</p></br>
       {{form.email}}
    </div>
   <br>
    <div class="form-group">
        {{form.subject.label}}</br>
        <p>Please enter the subject of your message</p></br>
        {{form.subject}}
             
   </div>                                                                                 
  <br>
     <div class="form-group">
         {{form.message.label}}</br>
         <p>Please enter the message you would like to send </p>
        {{form.message}}</br>
        <button type ="submit">Send</button>
   </div>                                                                              
  {{form.csrf_token}}
</form>
{% endblock %}
